@model SandboxApp.Models.Photo

@*
    Use @Model to make reference to "Photo"...
*@

<h1>
    My Photo
</h1>

@*
    Display movie details...
*@

<p>
    Id: @Model.Id
</p>

<p>
    Title: @Model.Title
</p>

<p>
    Description: @Model.Description
</p>

<p>
    Image File: @Model.ImageFilename
</p>

<p>
    Created Date: @Model.CreatedDate
</p>
